<div class="container">
  <button type="button" name="button"><a href="/">Home</a></button>
  <button type="button" name="button"><a href="/stores">Stores</a></button>


<h1>View All Brands</h1>
<ul>
  <% @brands.each() do |brand| %>
    <li><%= brand.name %></li>
    <% end %>
  </ul>
</div>
