<div class="container">
  <button type="button" name="button"><a href="/">Home</a></button>
  <button type="button" name="button"><a href="/recipes">Edit Recipes</a></button>
  <h3>Enter a new recipe!</h3>
</div>
