<div class="container">
  <button type="button" name="button"><a href="/">Home</a></button>
  <button type="button" name="button"><a href="/stores">Edit Stores</a></button>
  <h3>Enter a new store!</h3>
</div>
