<div class="container">
  <button type="button" name="button"><a href="/">Home</a></button>
  <button type="button" name="button"><a href="/stores">Edit Stores</a></button>
  <button type="button" name="button"><a href="/brands">Edit Stores</a></button>
  <h3>Try again</h3>
</div>
