<% if @instructions.any?() %>
<h1>These are the recipes</h1>
<ul>
  <% @instructions.each() do |instruction| %>
    <li><%= instruction.name %> j</li>
  <% end %>
</ul>
<% else %>
<h4>Nothing yet! Add new recipes!</h4>
<% end %>
