
<div class="container">
  <h2> Add a New Recipe </h2>

  <form action="/recipes" method="post">
    <div class="form-group">
      <label for="name">Recipe: </label>
      <input id="name" name="name" type="text"  class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add it</button>
  </form>
<br>
  <button type="button" name="button"><a href="/">Home</button>
  <button type="button" name="button"><a href="/recipes">View All Recipes</button>
</div>
