<div class="container">
  <button type="button" name="button"><a href="/">Home</button>
  <button type="button" name="button"><a href="/recipes/new">Add a New Recipe</a></button>
<h1>View all</h1>
<ul>
  <% @instructions.each() do |instruction| %>
    <li><a href="/recipes/<%= instruction.id() %>"><%= instruction.name %></a></li>
    <% end %>
  </ul>
</div>
