
<div class="container">
  <h2> Add a New Store </h2>

  <form action="/stores" method="post">
    <div class="form-group">
      <label for="name">Store: </label>
      <input id="name" name="name" type="text"  class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add it</button>
  </form>
<br>
  <button type="button" name="button"><a href="/">Home</button>
  <button type="button" name="button"><a href="/stores">View All Stores</button>
</div>
